brotli==1.0.9
ConfigParser==5.1.0
cryptography==2.8
Cython==0.29.24
dl==0.1.0
docutils==0.16
HTMLParser==0.0.2
importlib_metadata==1.5.0
jnius==1.1.0
keyring==18.0.1
lockfile==0.12.2
lxml==4.5.0
numpy==1.17.4
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
toml==0.10.2
tornado==6.1
typing_extensions==3.10.0.2
xmlrpclib==1.0.1
zipp==1.0.0
